<a href="https://colab.research.google.com/github/AdrianCPC/Visualizacion_datos_matplotlib_seaborn/blob/main/Analisis__de__Datos_Seaborn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importando base de datos

In [1]:
import pandas as pd

In [3]:
datos = pd.read_csv('credit_card.csv')
datos.head()

,LIMIT_BAL,CHECKING_ACCOUNT,EDUCATION,MARRIAGE,AGE,BILL_AMT,PAY_AMT,DEFAULT
0,6022,Yes,2.University,Married,24,934.0122,0.0000,1
1,36132,Yes,2.University,Single,26,519.3975,0.0000,1
2,27099,Yes,2.University,Single,34,4223.5297,457.0698,0
3,15055,Yes,2.University,Married,37,14522.9563,602.2000,0
4,150550,No,3.Graduate School,Single,29,124060.1253,16560.5000,0

In [4]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LIMIT_BAL         1500 non-null   int64
 1   CHECKING_ACCOUNT  1500 non-null   object
 2   EDUCATION         1500 non-null   object
 3   MARRIAGE          1500 non-null   object
 4   AGE               1500 non-null   int64
 5   BILL_AMT          1500 non-null   float64
 6   PAY_AMT           1500 non-null   float64
 7   DEFAULT           1500 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 93.9+ KB

#Traduciendo variables

In [5]:
datos.columns

Index(['LIMIT_BAL', 'CHECKING_ACCOUNT', 'EDUCATION', 'MARRIAGE', 'AGE',
       'BILL_AMT', 'PAY_AMT', 'DEFAULT'],
      dtype='object')

In [6]:
#cambiando nombre de columnas

dic_columnas = {'LIMIT_BAL': 'limite',
                'CHECKING_ACCOUNT': 'cuenta_corriente', 
                'EDUCATION' : 'escolaridad',
                'MARRIAGE' : 'estado_civil',
                'AGE' : 'Edad',
                'BILL_AMT' : 'valor_factura',
                'PAY_AMT' : 'valor_pago',
                'DEFAULT' : 'moroso'
                }

In [7]:
tarjetas = datos.rename(columns = dic_columnas)
tarjetas.head()

,limite,cuenta_corriente,escolaridad,estado_civil,Edad,valor_factura,valor_pago,moroso
0,6022,Yes,2.University,Married,24,934.0122,0.0000,1
1,36132,Yes,2.University,Single,26,519.3975,0.0000,1
2,27099,Yes,2.University,Single,34,4223.5297,457.0698,0
3,15055,Yes,2.University,Married,37,14522.9563,602.2000,0
4,150550,No,3.Graduate School,Single,29,124060.1253,16560.5000,0

In [8]:
tarjetas.cuenta_corriente.unique()

array(['Yes', 'No'], dtype=object)

In [9]:
dic_cuenta = {
    'Yes' : 'Si',
    'No' : 'No'
}

In [10]:
#Usando funcion .map para cambiar los nombres en las celdas 

tarjetas.cuenta_corriente.map(dic_cuenta)

0       Si
1       Si
2       Si
3       Si
4       No
        ..
1495    Si
1496    No
1497    No
1498    No
1499    No
Name: cuenta_corriente, Length: 1500, dtype: object

In [11]:
tarjetas.head()

,limite,cuenta_corriente,escolaridad,estado_civil,Edad,valor_factura,valor_pago,moroso
0,6022,Yes,2.University,Married,24,934.0122,0.0000,1
1,36132,Yes,2.University,Single,26,519.3975,0.0000,1
2,27099,Yes,2.University,Single,34,4223.5297,457.0698,0
3,15055,Yes,2.University,Married,37,14522.9563,602.2000,0
4,150550,No,3.Graduate School,Single,29,124060.1253,16560.5000,0

In [12]:
tarjetas.cuenta_corriente = tarjetas.cuenta_corriente.map(dic_cuenta)
tarjetas.head()

,limite,cuenta_corriente,escolaridad,estado_civil,Edad,valor_factura,valor_pago,moroso
0,6022,Si,2.University,Married,24,934.0122,0.0000,1
1,36132,Si,2.University,Single,26,519.3975,0.0000,1
2,27099,Si,2.University,Single,34,4223.5297,457.0698,0
3,15055,Si,2.University,Married,37,14522.9563,602.2000,0
4,150550,No,3.Graduate School,Single,29,124060.1253,16560.5000,0

In [13]:
tarjetas.escolaridad.unique()

array(['2.University', '3.Graduate School', '1.High School'], dtype=object)

In [14]:
dic_escolaridad = {'2.University' : '2.Universidad',
                   '3.Graduate School':'3.Pos-graduacion',
                   '1.High School':'1.Colegio'
                   }

In [15]:
tarjetas.escolaridad = tarjetas.escolaridad.map(dic_escolaridad)
tarjetas.head()

,limite,cuenta_corriente,escolaridad,estado_civil,Edad,valor_factura,valor_pago,moroso
0,6022,Si,2.Universidad,Married,24,934.0122,0.0000,1
1,36132,Si,2.Universidad,Single,26,519.3975,0.0000,1
2,27099,Si,2.Universidad,Single,34,4223.5297,457.0698,0
3,15055,Si,2.Universidad,Married,37,14522.9563,602.2000,0
4,150550,No,3.Pos-graduacion,Single,29,124060.1253,16560.5000,0

In [16]:
tarjetas.estado_civil.unique()

array(['Married', 'Single'], dtype=object)

In [17]:
dic_estado_civil = {'Married' : 'Casado',
                    'Single' : 'Soltero'
                    }

In [18]:
tarjetas.estado_civil = tarjetas.estado_civil.map(dic_estado_civil)
tarjetas.head()

,limite,cuenta_corriente,escolaridad,estado_civil,Edad,valor_factura,valor_pago,moroso
0,6022,Si,2.Universidad,Casado,24,934.0122,0.0000,1
1,36132,Si,2.Universidad,Soltero,26,519.3975,0.0000,1
2,27099,Si,2.Universidad,Soltero,34,4223.5297,457.0698,0
3,15055,Si,2.Universidad,Casado,37,14522.9563,602.2000,0
4,150550,No,3.Pos-graduacion,Soltero,29,124060.1253,16560.5000,0

Lo que aprendimos en esta aula:

Hacer upload de archivo csv para Google Colab. Importamos pandas e importamos la base de datos con la que vamos a trabajar en el curso: credit_card.csv.

Conocimos nuestra base de datos y las variables que vamos a analizar en clase.

Por cuestiones didcticas decidimos hacer la traduccin al espaol de las variables categricas en la base que se encontraban en ingls.

Guardamos nuestra base de datos con el nombre de tarjetas.